<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.lakehub.adherenceapp">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".MainApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".FollowUpActivity">
        </activity>
        <activity
                android:name=".EditChvReminderActivity"
                android:theme="@style/MaterialTheme.NoActionBar"/>

        <meta-data
                android:name="google_analytics_adid_collection_enabled"
                android:value="false"/>
        <meta-data
                android:name="firebase_analytics_collection_deactivated"
                android:value="true"/>

        <activity
                android:name=".DeactivateClientActivity"
                android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
                android:name=".EditClientActivity"
                android:theme="@style/MaterialTheme.NoActionBar"/>

        <receiver
                android:name=".ChvPlaceReceiver"
                android:enabled="true"
                android:exported="false">
        </receiver>

        <activity
                android:name=".ChvReminderActivity"
                android:showOnLockScreen="true"
                android:theme="@style/Theme.AppCompat.Translucent"/>

        <receiver
                android:name=".ChvReminderReceiver"
                android:enabled="true"
                android:exported="false">
        </receiver>

        <activity android:name=".SelectClientActivity"
                  android:theme="@style/MaterialTheme.NoActionBar"/>

        <activity
                android:name=".AddClientActivity"
                android:theme="@style/MaterialTheme.NoActionBar"/>
        <activity
                android:name=".ClientsActivity"
                android:theme="@style/MaterialTheme.NoActionBar"/>
        <activity
                android:name=".AddChvReminderActivity"
                android:theme="@style/MaterialTheme.NoActionBar"/>
        <activity
                android:name=".AlarmActivity"
                android:showOnLockScreen="true"
                android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
                android:name=".CongratulationsActivity"
                android:showOnLockScreen="true"
                android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
                android:name=".CancelAlarmActivity"
                android:theme="@style/Theme.AppCompat.Translucent"/>

        <receiver
                android:name=".ConfirmAttendPlaceReceiver"
                android:enabled="true"
                android:exported="false">
        </receiver>

        <activity
                android:name=".EditAlarmActivity"
                android:theme="@style/MaterialTheme.NoActionBar"/>

        <receiver android:name=".BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
                android:name=".MyService"
                android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service
                android:name=".BootCompletedService"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity
                android:name=".ConfirmPopUpActivity"
                android:showOnLockScreen="true"
                android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
                android:name=".SettingsActivity"
                android:theme="@style/MaterialTheme.NoActionBar"/>
        <activity
                android:name=".AddAlarmActivity"
                android:launchMode="singleTask"
                android:theme="@style/MaterialTheme.NoActionBar"/>
        <activity
                android:name=".ChvDashboardActivity"
                android:screenOrientation="portrait"
                android:theme="@style/MaterialTheme.NoActionBar"/>
        <activity
                android:name=".ClientHomeActivity"
                android:launchMode="singleInstance"
                android:screenOrientation="portrait"
                android:theme="@style/MaterialTheme.NoActionBar"/>
        <activity
                android:name=".SelectAccountTypeActivity"
                android:theme="@style/MaterialTheme.NoActionBar"/>
        <activity
                android:name=".LoginActivity"
                android:launchMode="singleTop"
                android:theme="@style/MaterialTheme"/>
        <activity
                android:name=".TutorialActivity"
                android:label="@string/title_activity_tutorial"
                android:theme="@style/MaterialTheme.NoActionBar">
        </activity>
        <activity
                android:name=".VerifyActivity"
                android:theme="@style/MaterialTheme.NoActionBar"/>
        <activity
                android:name=".RegisterActivity"
                android:theme="@style/MaterialTheme.NoActionBar"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
                android:name=".AlarmReceiver"
                android:enabled="true"
                android:exported="false"/>
    </application>

</manifest>